.parallax {
  /* The image used */
  background-image: url("../assets/img/img-hex.png");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll {
  height: 35vh;
  background-color: rgb(122, 122, 122);
  font-size: 36px;
}
.scroll-2 {
  top: 25vh;
  height: 35vh;
  background-color: rgb(68, 44, 44);
  font-size: 26px;
}

.container {
  padding: 400px 200px;
}
.background1 {
  background: transparent rgb(128, 80, 18) center 0 no-repeat;
}
.background2 {
  background: transparent rgb(155, 24, 24) center 0 no-repeat;
}
